body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #EACCFF;
    justify-content: center
}


img {
    width: 300px;
    height: 400px;
}

.pdf:hover{
    transform:scale(2.5);
}

.intro-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 5%;
    /* background-color: beige; */
}

#nav-bar {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-start;
    margin: 2%;
    font-size: 20px;
}


.profile-card {
    display: flex;
    /* background-color: blueviolet; */
}

.left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 26px;
}


#intro {
    font-size: 30px;
}

#intro-list {
    font-size: 20px;
    align-self: flex-start;
}



#prof-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 150px;
}


.portfolio-container {
    padding: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    background-color: #ae64e3;

}

#port-header {
    padding: 26px;
    flex-direction: row;
    font-size: 50px;
    font-weight: bolder;
    justify-content: center;
    align-self: flex-start;
}

#port-contents {
    flex-direction: row;

}